:root {
  --primary-color1: hsl(35, 77%, 62%);
  --primary-color2: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: #c5c6ce;
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-darkblue: hsl(240, 100%, 5%);
}
body {
  font-family: "Inter", sans-serif;
  margin: 40px auto;
}

h1 {
  font-weight: 800;
  color: var(--very-darkblue);
}
p {
  font-size: 15px;
  line-height: 1.5;
}
ul {
  margin-right: 75px;
  list-style: none;
  font-size: 15px;
}
li {
  text-decoration: none;
  padding: 30px;
}
nav a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--primary-color2);
}
.bright {
  width: 300px;
}
.we-dive {
  width: 53%;
}
.col-sm-4 {
  background: var(--very-darkblue);
  width: 300px;
  height: fit-content;
  margin-top: 93px;
}
.col-md-2 img {
  padding-left: 50px;
  padding-right: 0;
}
.paragraph {
  line-height: 1.5;
  color: var(--grayish-blue);
}
.p-heading1 {
  color: var(--primary-color1);
  margin-bottom: 25px;
}
.p-heading3 {
  margin-top: 30px;
}
.p-heading4 {
  margin-top: 30px;
}
.p-heading2,
.p-heading3,
.p-heading4 {
  font-weight: bold;
  color: var(--grayish-blue);
}
.p-heading2:hover,
.p-heading3:hover,
.p-heading4:hover {
  color: var(--primary-color1);
  cursor: pointer;
}

.p-heading5 {
  font-weight: bold;
  color: var(--very-darkblue);
}
.p-heading5:hover {
  color: var(--primary-color2);
  cursor: pointer;
}
.btn {
  background: var(--primary-color2);
  padding: 10px 35px;
  border-radius: 0;
}
.btn:hover {
  background: var(--very-darkblue);
}
.grayish-blue {
  color: var(--dark-grayish-blue);
}
.logo-w {
  color: var(--very-darkblue);
  font-weight: 800;
  font-size: 40px;
  margin-left: 110px;
}
strong {
  color: var(--off-white);
}

@media (max-width: 900px) {
  body {
    display: block;
  }
  h4 {
    font-size: 18px;
    opacity: 0.8;
    margin-left: 200px;
  }
  ul {
    display: flex;
    margin-left: 300px;
  }
  li {
    width: 70px;
    gap: 15%;
    font-size: 10px;
  }
  strong {
    font-size: 12px;
    word-spacing: 5px;
  }
  .logo-w {
    color: var(--very-darkblue);
    font-weight: 800;
    font-size: 20px;
    margin-left: 0;
  }
  .btn {
    padding: 7px 40px;
  }
  .col-sm-4 {
    background: var(--very-darkblue);
    width: 250px;
    margin-top: 5px;
    margin-bottom: 100px;
  }
  .col-md-2 img {
    width: 70px;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .col-md-2 {
    display: -moz-grid-line;
  }
  .text p {
    width: 200px;
  }
  p.p-heading5 {
    margin-left: 200px;
  }
  .last-row-paragraphs {
    margin-left: 200px;
    opacity: 0.9;
  }
  .retro-computers img {
  }
}
